<!doctype html>
<html lang="en">
    <head>
        <title>Timestamp Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                Timestamp Microservice
            </h1>
            <h3>Example usage:</h3>
            <code class="needs-link">/December%2015,%202015</code><br>
            <code class="needs-link">/1450137600000</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600000,
                  "natural": "December 15, 2015"
                }
            </code>
        </div>
        <script type="text/javascript" src="client.js"></script>
    </body>
</html>
